h1{
    padding: 20px;
    margin-left: 30px;
    color: #FBFBFF;
}

h2{
    color: #FBFBFF;
}

h3{
    color: #080066;
}

h4{
    color: #E4D9FF;
}

.outside{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #657ED4;
}
.inside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-basis: 7cm;
}

body{
    background-color:#0B0136;
}